@font-face {
  font-family: "Roboto";
  src: url("../../src/fonts/Roboto-Regular.woff2") format("woff2"), url("../../src/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// FONT UTILITY CLASSES
// Naming convention: "font-familly"-"font-size"-"font-weight" (-"font-style" is optional)

.roboto-22-normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.roboto-16-normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
