@mixin mq($value, $constraint: max, $feature: width) {
  @media screen and (#{$constraint}-#{$feature}: $value + px) {
    @content;
  }
}

@mixin font-smoothing($val: antialiased) {
  -webkit-font-smoothing: $val;
  -moz-font-smoothing: $val;
  -ms-font-smoothing: $val;
  -o-font-smoothing: $val;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}
