.sass-cache

node_modules

.idea

wp-config.php

*.zip

.htaccess

wp-admin/error_log

wp-content/debug.log

error_log

wp-content/cache/autoptimize

wp-content/cache

wp-content/uploads/mailchimp-for-wp/debug-log.php

wp-content/uploads-webpc/uploads